@font-face {
  font-family: "Proxima Nova Light";
  src: url("/assets/fonts/proximanova-light.woff2");
  font-style: normal;
  font-weight: lighter;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/assets/fonts/proximanova-regular.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("/assets/fonts/proximanova-semibold.woff2");
  font-style: medium;
  font-weight: bold;
  font-display: swap;
}

:root {
  --measure-borders: 1px;
  --measure-radius: 4px;
  --measure-shortest: 0.2rem;
  --measure-shorter: 0.35rem;
  --measure-short: 0.65rem;
  --measure-near: 0.85rem;
  --measure-normal: 1rem;
  --measure-medium: 1.25rem;
  --measure-long: 2rem;
  --measure-longer: 2.3rem;
  --measure-longest: 3.25rem;
  --measure-padding: var(--measure-shorter);
  --measure-text-max-width: 80ch;

  --color-borders: hsla(0, 0%, 20%, 0.5);
  --color-text: #111;
  --color-gray: #333;
  --color-light: #757575;
  --color-lightGray: #bbb;
  --color-white: #fff;
  --color-background: #ededed;
  --color-success: #20b859;
  --color-successAlt: #adffcb;
  --color-danger: #ff3232;
  --color-dangerAlt: #ffd9d9;
  --color-warning: #fff159;
  --color-warningAlt: #ffffef;
  --color-blue: #1e78ff;
  --color-blueAlt: #e2e2fc;
  --color-orange: #ff7733;
  --color-orangeAlt: #ffdfd0;

  --ff-light: "Proxima Nova Light", sans-serif;
  --ff-default: "Proxima Nova Regular", sans-serif;
  --ff-semibold: "Proxima Nova Semibold", sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

main, section {
  margin: 0 auto;
}

main {
  margin-top: 0;
}

body {
  max-width: 100vw;
  overflow: hidden scroll;

  font-family: var(--ff-default), sans-serif;
  background-color: var(--color-background);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header,
main,
section,
footer {
  width: 100%;
}

main,
section {
  padding: calc(var(--measure-short) * 2) var(--measure-short);
  border-bottom: var(--measure-borders) solid var(--color-borders);

  min-width: 45%;
  max-width: 768px;
}

aside {
  margin-top: var(--measure-medium);
  margin-bottom: var(--measure-longest);
  text-align: center;
  transition: margin 1000ms;
}
aside p {
  font-size: 0.7rem !important;
}
h1 {
  font-size: var(--measure-long);
}

h2 {
  font-size: var(--measure-medium);
}

h3 {
  font-size: var(--measure-normal);
}

h4 {
  font-size: var(--measure-near);
}

h5 {
  font-size: var(--measure-short);
}

p {
  font-size: var(--measure-normal);
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button,
fieldset {
  border-radius: var(--measure-radius);
}

textarea:focus,
input:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

@media screen and (min-width: 768px) {
  main {
    border-radius: var(--measure-near) var(--measure-near) 0 0;
    margin: var(--measure-long) auto 0 auto !important;
  }

  section {
    margin: 0 auto 0 auto;
  }

  section:last-of-type {
    border-radius: 0 0 var(--measure-near) var(--measure-near);
  }

  main,
  section {
    border: var(--measure-borders) solid var(--color-borders);
    padding: var(--measure-normal);
  }
}

@media print {
  header,
  footer {
    display: none;
  }
}
